# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# Virtual environment
# ============================================================

venv/
.venv/
env/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# MELD RAW DATASET
# ============================================================

meld_dataset/
MELD/
meld/

# ============================================================
# MELD FEATURE FILES
# ============================================================

meld_features/

# ============================================================
# Python cache / temporary files
# ============================================================

*.tmp
*.temp
*.log

# ============================================================
# OS files
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/